.sump{

    background-color: #D9D9D9;
    border-color: black;
    width: 1160px;
    height: 100px;

}

.watersource {
    position: relative;
    left: 250px;
    display:inline-flex;
    gap: 60px;

}

.watersource .Borewellstatus{
    position: relative;
    background-color: #dc1212;
    border-radius: 50%;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: solid;
    left: 10px;
    top: -10px;

}

.watersource .Tankerstatus{

    position: relative;
    background-color: #dc1212;
    border-radius: 50%;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: solid;
    left: 15px;
    top: -10px;


}



.watersource .cauverystatus{

    position: relative;
    background-color: #dc1212;
    border-radius: 50%;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: solid;
    left: 25px;
    top: -10px;



}

.watersource .rainwaterstatus{

    position: relative;
    background-color: #0c8e17;
    border-radius: 50%;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: solid;
    left: 20px;
    top: -10px;


}